/* @import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap"); */
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@font-face {
  font-family: "Rubik Mono One";
  src: url("/fonts/Rubik_Mono_One/RubikMonoOne-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --color-primary: #8cf8b8;
  --color-primary-hover: #59ff9d;
  --color-black: #353c3d;
  --color-white: #f5fdff;
  --color-white-background: #eaf1f3;

  --font-rubik: "Rubik Mono One", monospace;
}

html {
  scrollbar-color: #8cf8b8 #353c3d;
  scroll-behavior: smooth;
}

body {
  @apply bg-white-background;
  /* overflow-x: hidden; */
}

.paddingLayout {
  @apply py-5 px-10 md:px-20 xl:px-40;
}

.hideScrollbar {
  scrollbar-width: none;
}

.afterTimeline::after {
  content: "";
  position: absolute;
  width: 10px;
  left: 50%;
  z-index: -1;
  height: 95%;
  @apply bg-black rounded;
}

.active {
  @apply bg-primary px-2 rounded font-semibold transition-all;
}

.inActive {
  @apply px-2 transition-all;
}

.inActive:hover {
  @apply bg-primary px-2 rounded transition-all;
}
